@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<label>@Context.Session.GetString("Login")</label>
<label>@Context.Session.GetString("User")</label>
<label>@Context.Session.GetString("Role")</label>
<a class="btn btn-success" href="~/swagger/index.html">Swagger</a>
<a class="btn btn-success" href="~/Account/Login">Login</a>
<a class="btn btn-success" href="~/Account/Register">Register</a>
