@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<p>Создано студентом Ройтманом Семёном Олеговичем из группы ВИС41 специально для преддипломной практики, а также и для самого диплома</p>
