@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div>
            @if (true)
            {
                <div class="col" style="margin-bottom: 5px">
                    <h5>Напишите оценку:</h5>
                    @Html.TextBox("grade1", "", new {@class="form-control form-group"})
                </div>
                <div class="col" style="margin-bottom: 5px">
                    <h5>Напишите вторую оценку:</h5>
                    @Html.TextBox("grade2", "", new {@class="form-control form-group"})
                </div>
                <div class="col" style="margin-bottom: 5px">
                    <h5>Выберите тип контроля:</h5>
                    @Html.DropDownList("typeControlId", ViewBag.TypeControlId as SelectList, new {@class="form-select"})
                </div>
                <div class="col" style="margin-bottom: 5px">
                    <h5>Выберите срок сдачи:</h5>
                    <input name="date" type="Date" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-11">
                        <input style="margin-bottom: 5px" type="submit" value="Подтвердить" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
}