@model ICollection<Homework>
@using (Html.BeginForm())
{
    <div class="container">
            @if (ViewBag.IsTeaher)
            {
                <div style="margin-bottom: 5px;">
                    <h5>Выберите класс:</h5>
                    @Html.DropDownList("classId", ViewBag.ClassId as SelectList, new {@class="form-select"})
                </div>
                <div style="margin-bottom: 5px;">
                    <h5>Выберите школьный предмет:</h5>
                    @Html.DropDownList("subjectId", ViewBag.SubjectId as SelectList, new {@class="form-select"})
                </div>
                <div style="margin-bottom: 5px;">
                    <h5>Напишите задание:</h5>
                    @Html.TextBox("task", "", new {@class="form-control form-group"})
                </div>
                <div  style="margin-bottom: 5px;">
                    <h5>Выберите срок сдачи:</h5>
                    <input name="deadline" type="Date" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-11">
                        <input style="margin-bottom: 5px" type="submit" value="Подтвердить" class="btn btn-success" />
                    </div>
                </div>
            }
    </div>
}
